@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-slide-in {
    @apply opacity-0 translate-y-2;
    animation: slide-in 0.3s ease-out forwards;
  }

  @keyframes slide-in {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}


/* @media (prefers-reduced-motion: reduce) {
  .no-motion * {
    transition: none !important;
    animation: none !important;
    scroll-behavior: auto !important;
  }
} */

/* Scrollbar un peu plus fine (WebKit) */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2);
  border-radius: 9999px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

/* Petite amélioration d’accessibilité du focus sur boutons/links non Tailwindés */
:focus-visible {
  outline: 2px solid rgb(59 130 246 / 0.6); /* bleu-500/60 */
  outline-offset: 2px;
}
/* cms */
.cms-frame { line-height: 0 !important; }
.cms-frame iframe {
  display: block !important;
  vertical-align: top !important;
  width: 100% !important;
  border: 0 !important;
}

/* Cache le badge "Fond actif : ..." dans StickyBg */
div.pointer-events-none[class*="absolute"][class*="left-4"][class*="bottom-4"]
  > div:has(> span + :is(#text, *)) {
  display: none !important;
}

/* lien dans l'organigramme , le lien va etre apparu plus lentement  */
.org-link{
  transition:
    stroke-dashoffset 820ms cubic-bezier(.2,.8,.2,1),
    opacity 2600ms ease;
  will-change: stroke-dashoffset, opacity;
}
.org-link--on{
  transition:
    stroke-dashoffset 900ms cubic-bezier(.2,.8,.2,1),
    opacity 2400ms ease;
}
